$color-white: #FFF;
$color-black: #000;
$color-dark: #010413;
$color-main: #e24727;
// $color-main: #24b96a;
// $color-main: #9C27B0;
// $color-main: #F44336;
// $color-main: #673AB7;
// $color-main: #41b883;	
// $color-main: #000;
$color-light: #fcfcfc;
// $color-light: #e2476008;
// $color-light: #f3fbf787;
// $color-light: #0000000a;