@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli|Poppins:400,500&display=swap');

$font-popp: 'Poppins', sans-serif;
$font-muli: 'Muli', sans-serif;
$font-Ssans: 'Source Sans Pro', sans-serif;
$font-Rubik: 'Rubik', sans-serif;